@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: 0 0 0;
    --color-fg: 255 255 255;
  }

  .light {
    --color-bg: 255 255 255;
    --color-fg: 0 0 0;
  }

  .dark {
    --color-bg: 0 0 0;
    --color-fg: 255 255 255;
  }

  html {
    scroll-behavior: smooth;
  }

  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(var(--color-fg), 0.3);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse linear infinite;
}

.animate-marquee:hover,
.animate-marquee-reverse:hover {
  animation-play-state: paused;
}

